  body{
    background-color: white;
  }
  hr{
    background-color: white;
    border-style: dotted none none;
    border-color: black;
    border-width: 5px;
    width: 10%;
  }

  h1{
    color: #30e3ca;
  }

  h3{
    color: #11999e;
  }
